<section class="media is-align-items-center">
  <div class="media-left">
    <figure class="image is-140x140">
      <img src=<%= get_photo(user) %> alt="user's picture">
    </figure>
  </div>
  <div class="media-content notification">
    <div class="content">
      <h4 class="title is-4"><%= user.name %></h4>
      <p class="has-text-right is-size-8"><%= t('posts_counter', count: user.posts_counter)%></p>
    </div>
  </div>
</section>