<%= render partial: "users/user", object: @user %>
<div class="article comments-article">
  <% @posts.each do |post| %>
    <div>
      <%= render partial: "post", object: post %>
      <%= render partial: "shared/comment", collection: post.recent_comments %>
    </div>
  <% end %>
</div>
<button class="button is-small text-center">Pagination</button>
